@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 1s forwards; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}

#first { animation-delay: 0.5s; }

#second {  animation-delay: 3s; }

#third { animation-delay: 5s; }
