
/*p { font-size: 1.25rem; }*/
h1 { font-size: 1.75rem; }


@media (min-width: 576px) {
    p { font-size: 1.0rem; }
}
@media (min-width: 768px) {
    p { font-size: 1.0rem; }
}
@media (min-width: 992px) {
    p { font-size: 1.0rem; }
}
@media (min-width: 1200px) {
    p { font-size: 1.25rem; }
}


/* heading 1 *
h1 { font-size: 8.5rem; }

@media (min-width: 576px) {
    h1 { font-size: 7.25rem; }
}
@media (min-width: 768px) {
    h1 { font-size: 8.25rem; }
}
@media (min-width: 992px) {
    h1 { font-size: 9.5rem; }
}
@media (min-width: 1200px) {
    h1{ font-size: 11.5rem; }
} */
