body, html {
  height: 100%;
  background-color: #000;
}

p, h1, h2, h3, h4, h5 {
  color: #fff;
}

h1, h2 {
  font-family: archiaregular;
}

h3 {
  font-family: CodecColdTrial-Thin;
}

h5 {
  font-family: CodecColdTrial-Thin;
}

.panel {
  padding: 1rem;
  background-color: #fff;
}

.vergara {
  background-image: url("home_background.png");
  background-size: cover
}

.image-wrapper {
    background-image: url("home_background.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position:absolute;
    width:100%;
    height:100%;
    overflow: scroll;
    font-family: 'Scout', arial, sans-serif;
}
