body, html {
  height: 100%;
  background-color: #303331;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  /*background-color: #4f6d7a;*/
}

::selection {
  background: #e0e0;
}

.header {
  font-family: archiaregular;
  color: #fff;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}

.link:hover {
  color: #fff;
}

#github_svg:hover, #linkedin_svg:hover {
  stroke: #fff;
}

a:hover {
  text-decoration: none;
}


p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eaeaea;
}

